.App {
  text-align: left;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(5px + 1vmin);
  color: white;
  
}
.App-header .ul{
font-size: 10;
}
.App-header .table{
  
    width: 23%;
    margin-bottom: 1rem;
    color: white;
}
.App-header .table-left{
  margin-left: 483px;
  margin-top: -434px;
}




.App-header .table-left .table2 {
  width: 27%;
  margin-bottom: 1rem;
  color: white;
}
